.selected {
    background-color: #44d9e8;
}

.top-row {
    margin-top:35px;
}

.top-margin {
    margin-top: 30px;
}

#card-margin {
    margin-top: 40px;
}

.btn-margin {
    margin: 5px;
}

/* #rating {
    font-size: 100px;
} */

#rate-buffer {
    margin-top: 6px;
    margin-bottom: 6px;
}
